#jobs {
    #mainDiv {
        position: absolute;
        left: 80px;

        label {
            color: #fff;
        }
        
        p {
            color: #fff;
        }

        h1 {
            color: #fff;
            font-family: "Poppins";
            font-weight: 600;
        }

        #data {
            background-color: #fff;
            border-radius: 15px;
            align-items: center;

            p {
                align-items: center;
                color: black;
                text-align: center;
            }
            h3 {
                align-items: center;
                color: black;
                text-align: center;
            }
        }
    }
}