
nav{
    height: 80px;
    background-color:#4f23e2;
}

.div-header{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.div-svg{
    height: 30px;
    width: 30px;
}
img {
    width: 140px;
    height: 80px;
 }

 body {
    font-family: sans-serif;
  }

  .App {
    position: relative;
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }

 .button-style {
  background-color:#4f23e2;
 }
